{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <div>
            {% if articles != null %}
                <a href="{{ path('single_article', {'article' : articles.id}) }}" class="btn btn-danger">Назад</a>
            {% else %}
                <a href="{{ path('articles') }}" class="btn btn-danger">Назад</a>
            {% endif %}
            {{ form_start(form) }}

            <div class="form-group">
                <label for="textarea">{{ form_label(form.title) }}</label>
                {{ form_widget(form.title, {'attr': {'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.author) }}</label>
                {{ form_widget(form.author, {'attr': {'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.content) }}</label>
                {{ form_widget(form.content, {'attr': {'class':'form-control'}}) }}
            </div>

            <button type="submit" class="btn btn-primary" >Опубликовать</button>

            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
