{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 align="center">Articles List</h1>
    <div align="center">
        <a href="{{ path('create_article') }}">Создать запись</a>
    </div>

        {% for article in articles %}
            <div class="card text-center" style="margin-bottom: 20px">
                <div class="card-header">
                    {{ article.title }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ article.author }}</h5>
                    <p class="card-text">{{ article.content|slice(0,255) }}</p>
                    <a href="{{ path('single_article', {'article': article.id}) }}" class="btn btn-primary">More</a>
                </div>
                <div class="card-footer text-muted">
                    Создано: {{ article.createdAt|date("F j Y h:i:s A") }}
                    {% if article.updatedAt != null %}
                        <br> Обновлено: {{ article.updatedAt|date("F j Y h:i:s A") }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% if articles|length>4 %}
        <div align="center">
            <a href="{{ path('create_article') }}">Создать запись</a>
        </div>
    {% endif %}
</div>
{% endblock %}
