{% extends 'base.html.twig' %}

{% block title %}{{ articles.title }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <a href="{{ path('articles') }}" class="btn btn-secondary">Назад</a>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ articles.title }}</h5>
                <p class="card-text">{{ articles.content }}</p>
                {% set difference = date('now').diff(date(articles.createdAt)) %}
                {% set leftDays = difference %}
                <p class="card-text"><small class="text-muted">Создано {{ articles.createdAt|date("F j Y h:i:s A")}}</small></p>
                {% if articles.updatedAt!=null %}
                <p class="card-text"><small class="text-muted">Last updated {{ articles.updatedAt|date("F j Y h:i:s A")}}</small></p>
                {% endif %}
                <a href="{{ path('update_article', {'article':articles.id}) }}" class="btn btn-primary btn-md btn-block">Редактировать</a>

                <a href="{{ path('delete_article',{'article':articles.id}) }}" class="btn btn-primary btn-md btn-block">Удалить</a>
            </div>
        </div>

    <h4 >Комментарии: </h4>
    <a href="{{ path('create_comment', {'article': articles.id}) }}" class="btn btn-success" style="margin-bottom: 8px">Создать</a>
    {% for comment in comments %}
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ comment.author }}</p>
                    <p>{{ comment.content }}</p>
                    <footer class="blockquote-footer"><cite title="Source Title">{{ comment.createdAt|date() }}</cite></footer>
                </blockquote>
            </div>
        </div>

    {% endfor %}






    </div>


{% endblock %}
